<div>
	{% for k, v in pairs(items) do %}
		<span><b>city: </b>{{v["city"]}}</span><br>
		<span><b>temperature: </b>{{v["temperature"]}}&deg;C</span><br>
 		<span><b>time: </b>{{v["time"]}}:{{v["time_minutes"]}} {{v["time_type"]}}</span><br>
		<span><i>Have a good day!</i></span>
	{% end %}
</div>